.Container {
    border: 2px solid;
    color: black;

}

header {
    border: 2px solid;
    margin: 5px;
    height: 65px;
    text-align: center;
    color: green;
    background-color: rosybrown;
}

nav {
    border: 2px solid;
    margin: 5px;
    height: 50px;
    text-align: center;
    color: red;
    background-color: aqua;
}

.MidParentRow {
    overflow: auto;
}

.child1 {
    /* border: 2px solid; */
    /* width: 581px; */
    float: left;
}


section {
    width: 800px;
    border: 2px solid;
    height: 100px;
    text-align: center;
    color: brown;
    background-color: bisque;
}
article {
    border: 2px solid;
    width: 800px;
    text-align: center;
    margin-top: 5px;
    height: 100px;
    color: blue;
    background-color: aquamarine;
}
aside {
    border: 2px solid;
    width: 550px;
    float: right;
    height: 205px;
    color: aquamarine;
    background-color:beige;
    text-align: center;
}

footer {
    border: 2px solid;
    margin: 5px;
    height: 50px;
    text-align: center;
    color: aqua;
    background-color: yellow;
}