/* 1.ID Selector */
#firsth1{
    color:pink;
}
/* 2.Class Selector */
.paragraph{
    color: green;
}
/*3.Group Selector */
h1,h3,p,h6{
    font-size: 20px;
}
/* 4.Global Selector */

*{
    color: aqua; 
     border: 2px solid; 
}