/* 1.ID Selector */
#firsth1{
    color: blue;
}
/* 2.Class Selector */
.paragraph{
    color: pink;
}
/*3.Group Selector */
h3,h6,p,h2{
    font-size: 30px;
}
/* 4.Global Selector */

*{
    color:green; 
     border: 1px solid; 
}